*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #fff;
  --secondary: #ced4da;
  --header: #24292e;
  --gray-light: #6a737d;
  --gray-dark: #666; 
  --orange:#ffa733;
  --orange-hover: #ff9100;
  --orange-invisible: #ff91006b;
  --blue: #007bff;
  --blue-focus: #007bff40;
  --blue-hover: #0069d9;
  --blue-light: #80bdff;
  --error: #f44336;
  --success: #57b445;
}